@using DigitalPurchasing.Core
@{
    const string appName = "Digital Purchasing";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @appName</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/bundles/custom.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css" integrity="sha384-ZlNfXjxAqKFWCwMwQFGhmMh3i89dWDnaFU2/VZg9CvsMGA7hXHQsPIqS+JIAmgEq" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@appName</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Главная</a></li>
                        if (User.IsInRole(Consts.Roles.Admin))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Админка&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Главная</a></li>
                                    <li><a asp-area="" asp-controller="Admin" asp-action="Companies">Организации</a></li>
                                    <li><a href="/hangfire">Hangfire</a></li>
                                </ul>
                            </li>
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Документы&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="PurchaseRequest" asp-action="Index">Заявки клиентов</a></li>
                                <li><a asp-area="" asp-controller="QuotationRequest" asp-action="Index">Запросы предложений</a></li>
                                <li><a asp-area="" asp-controller="CompetitionList" asp-action="Index">Конкурентные листы</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Справочники&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Supplier" asp-action="Index">Поставщики</a></li>
                                <li><a asp-area="" asp-controller="Customer" asp-action="Index">Клиенты</a></li>
                                <li><a asp-area="" asp-controller="Nomenclature" asp-action="Index">Наименования материалов</a></li>
                                <li><a asp-area="" asp-controller="NomenclatureCategory" asp-action="Index">Категории закупок</a></li>
                                <li><a asp-area="" asp-controller="Uom" asp-action="Index">Единицы измерения</a></li>
                                <li><a asp-area="" asp-controller="Column" asp-action="Index">Соответсвия названий колонок</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Inbox" asp-action="Index">Почтовый ящик</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid body-content">
        <partial name="_ConfirmEmailPartial" />
        <partial name="_CompanyNamePartial" />
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/vue/vue.js"></script>
        <script src="~/lib/vue/vuetable-2.js"></script>
        <script src="~/lib/uiv/uiv.min.js"></script>
        <script src="~/lib/vue-tags-input/vue-tags-input.js"></script>
        <script src="~/lib/vue-resource/vue-resource.js"></script>
        <script src="~/lib/momentjs/moment.js"></script>
        <script src="~/lib/lodash.js/lodash.js"></script>
        <script src="~/lib/jquery.inputmask/jquery.inputmask.bundle.js"></script>
        <script src="~/lib/axios/axios.js"></script>
        <script src="~/lib/clipboard/clipboard.js"></script>
        <script src="~/lib/numeral.js/numeral.min.js"></script>
        <script src="~/lib/numeral.js/locales/ru.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/bundles/vendor.min.js" asp-append-version="true"></script>
        <script src="~/bundles/custom.min.js" asp-append-version="true"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script> 
    @RenderSection("Scripts", required: false)
</body>
</html>
