@using DigitalPurchasing.Core
@model DigitalPurchasing.Core.Interfaces.SupplierOfferDetailsVm

@{
    ViewBag.Title = "Подробности";
    Layout = "_Layout";
}

<h2 class="with-button">@ViewData["Title"]</h2>
<div class="btn-group">
    <a class="btn btn-default" href="@Url.Action("Edit", new { id = Model.Id })">Назад</a>
</div>
<div class="long-table-wrap">
    <div class="long-table">
        <div class="long-table-item">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="5">Запрос коммерческого предложения</th>
                        <th colspan="7">Коммерческое предложение в полученном варианте</th>
                        <th colspan="5">Расчет доли товара по стоимости и массе в итого</th>
                    </tr>
                    <tr>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th>Валюта</th>
                        <th>ЕИ</th>
                        <th>Кол-во,<br />ЕИ</th>

                        <th>Код</th>
                        <th>Наименование</th>
                        <th>Валюта КП</th>
                        <th>ЕИ КП</th>
                        <th>Кол-во КП,<br />ЕИ КП</th>
                        <th>Цена в КП,<br />валюта КП за ЕИ КП</th>
                        <th>Стоимость<br />количества КП,<br />валюта КП</th>

                        <th>Доля<br />стоимости<br />позиции<br />в общей<br />стоимости</th>
                        <th>Масса 1 ЕИ<br />товара,<br />ед изм массы</th>
                        <th>ЕИ массы</th>
                        <th>Масса количества<br />в заявке,<br />ед массы</th>
                        <th>Доля массы<br />позиции в<br />общей массе</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="4"></th>
                        <th>@Model.Items.Sum(q => q.Request.Qty).ToString(Consts.Format.Qty)</th>

                        <th colspan="4"></th>
                        <th>@Model.Items.Sum(q => q.Offer.Qty).ToString(Consts.Format.Qty)</th>
                        <th></th>
                        <th>@Model.Items.Sum(q => q.Offer.TotalPrice).ToString(Consts.Format.Money)</th>

                        <th>@Model.Items.Sum(q => q.Mass.TotalPricePerc).ToString("P1")</th>
                        <th colspan="2"></th>
                        <th>@Model.Items.Sum(q => q.Mass.TotalMass).ToString(Consts.Format.Money)</th>
                        <th>@Model.Items.Sum(q => q.Mass.TotalMassPerc).ToString("P1")</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Request.Code</td>
                            <td>@item.Request.Name</td>
                            <td>@item.Request.Currency</td>
                            <td>@item.Request.Uom</td>
                            <td>@item.Request.Qty.ToString(Consts.Format.Qty)</td>

                            <td>@item.Offer.Code</td>
                            <td>@item.Offer.Name</td>
                            <td>@item.Offer.Currency</td>
                            <td>@item.Offer.Uom</td>
                            <td>@item.Offer.Qty.ToString(Consts.Format.Qty)</td>
                            <td>@item.Offer.Price.ToString(Consts.Format.Money)</td>
                            <td>@item.Offer.TotalPrice.ToString(Consts.Format.Money)</td>

                            <td>@item.Mass.TotalPricePerc.ToString("P1")</td>
                            <td>@item.Mass.MassOf1.ToString(Consts.Format.Money)</td>
                            <td>@item.Mass.MassUom</td>
                            <td>@item.Mass.TotalMass.ToString(Consts.Format.Money)</td>
                            <td>@item.Mass.TotalMassPerc.ToString("P1")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
