@using DigitalPurchasing.Core.Interfaces
@model DigitalPurchasing.Core.Interfaces.SupplierOfferVm

@{
    ViewBag.Title = $"Коммерческое предложение № {Model.PublicId} от {Model.CreatedOn:dd.MM.yyyy HH:mm}";
    Layout = "_Layout";
}

<partial name="_Header" model="@((string)ViewBag.Title, Model.CompetitionList.Id)" />

<h3>Сопоставление названия колонок из коммерческого предложения поставщика с названиями колонок системы</h3>
<div id="app">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" v-bind:class="supplierNameClass">
                <label>Поставщик</label>
                <input type="text" class="form-control" placeholder="" v-model="supplierName" v-on:input="updateSupplierName">
                <span class="help-block" v-show="supplierNameHasError">Укажите имя поставщика</span>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Колонки в Системе</th>
            <th>Код</th>
            <th>Наименование</th>
            <th>ЕИ</th>
            <th>Количество</th>
            <th>Цена за 1 ЕИ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Колонки в Заявке</td>
            <td>
                <select class="form-control" v-model="columnCode">
                    <option v-for="option in columns" v-bind:value="option.value">{{option.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control" v-model="columnName">
                    <option v-for="option in columns" v-bind:value="option.value">{{option.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control" v-model="columnUom">
                    <option v-for="option in columns" v-bind:value="option.value">{{option.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control" v-model="columnQty">
                    <option v-for="option in columns" v-bind:value="option.value">{{option.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control" v-model="columnPrice">
                    <option v-for="option in columns" v-bind:value="option.value">{{option.text}}</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button v-on:click="saveColumns" class="btn btn-primary" v-bind:disabled="isSaveDisabled">Сохранить соответствие столбцов</button>&nbsp;
    <label v-if="isSaved">Сохранено!</label>
</div>

@if (Model.UploadedDocument.Data != null && Model.Status == SupplierOfferStatus.MatchColumns)
{
    <h3>Предложение в формате Поставщика</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var column in Model.ExcelTable.Columns)
                {
                <th>@column.Header</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                var rowsCount = Model.ExcelTable.Columns.Find(q => q.Type == TableColumnType.Name).Values.Count;
            }
            @for (int i = 0; i < rowsCount; i++)
            {
                <tr>
                    @foreach (var column in Model.ExcelTable.Columns)
                    {
                        <td>@column.Values[i]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
{
    <script>
        (function() {
            function getInputClass(hasError) {
                return {
                    'has-error': hasError,
                    'has-success': !hasError
                };
            };
            var app = new Vue({
                el: '#app',
                data: function() {
                    return {
                        id: '@Model.Id',
                        supplierName: '',
                        columnCode: null,
                        columnName: null,
                        columnUom: null,
                        columnQty: null,
                        columnPrice: null,
                        columns: [],
                        isSaved: false
                    };
                },
                created: function () {
                    var vm = this;
                    vm.$http.get('@Url.Action("ColumnsData", new { id = Model.Id })').then(function(res) {
                        var data = res.body;
                        data.columns.forEach(function(el) {
                            vm.columns.push({ text: el, value: el });
                        });
                        vm.supplierName = data.supplierName;
                        vm.columnCode = data.code;
                        vm.columnName = data.name;
                        vm.columnUom = data.uom;
                        vm.columnQty = data.qty;
                        vm.columnPrice = data.price;
                        vm.isSaved = data.isSaved;
                    }, function(res) {
                        alert('error');
                    });
                },
                computed: {
                    supplierNameHasError: function() {
                        if (!this.supplierName) {
                            return true;
                        }
                        return false;
                    },
                    supplierNameClass: function() {
                        return getInputClass(this.supplierNameHasError);
                    },
                    isSaveDisabled: function() {
                        return this.supplierNameHasError;
                    }
                },
                methods: {
                    saveColumns: function() {
                        var vm = this;
                        var data = {
                            soId: vm.id,
                            code: vm.columnCode,
                            name: vm.columnName,
                            uom: vm.columnUom,
                            price: vm.columnPrice,
                            qty: vm.columnQty
                        };
                        vm.$http.post('@Url.Action("SaveColumns")', data).then(function (res) {
                            vm.isSaved = true;
                            window.location.reload(true); 
                        }, function (res) {

                        });
                    },
                    updateSupplierName: _.debounce(function (e) {
                        var data = { name: this.supplierName, id: this.id };
                        this.$http.post('@Url.Action("UpdateSupplierName", "SupplierOffer")', data).then(function(res) {
                        }, function(res) {
                            alert('error');
                        });
                    }, 300)
                }
            });
        })();
    </script>
}
