@using RazorLight
@inherits TemplatePage<DigitalPurchasing.Emails.EmailTemplates.PriceReductionEmail>

@{
    var untilDate = Model.Until.ToString("dd/MM/yyyy");
    var untilTime = Model.Until.ToString("HH:mm");
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <p>Добрый день, @Model.ToName!</p>
    <p>Спасибо за Ваше предложение/счет № @Model.InvoiceData.</p>
    <p>Прошу рассмотреть возможность предоставления скидок в размере не менее, чем в запросе во вложении.</p>
    <p>Обновленное предложение/счет на оплату просьба направить в формате excel в срок до @untilDate до @untilTime МСК.</p>
    <p>Спасибо</p>
    <p>С уважением,<br/>@Model.From.Name<br />@Model.From.PhoneNumber<br />@Model.From.Company</p>
</body>
</html>
