@model NomenclatureEditVm

@{
    var isEdit = Model.Id != Guid.Empty;
    ViewData["Title"] = $"{(isEdit ? "Редактирование" : "Создание")} номенклатуры";
    if (isEdit)
    {
        ViewData["Title"] += $" \"{Model.Name}\"";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modify">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameEng" class="control-label"></label>
                <input asp-for="NameEng" class="form-control" />
                <span asp-validation-for="NameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchUomId" class="control-label"></label>
                <select asp-for="BatchUomId" class="form-control remote-select-uom" asp-items="Model.EmptyList">
                    @if (Model.BatchUomId != Guid.Empty)
                    {
                        <option value="@Model.BatchUomId" selected="selected">@Model.BatchUomName</option>
                    }
                </select>
                <span asp-validation-for="BatchUomId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label asp-for="MassUomValue" class="control-label"></label>
                        <input asp-for="MassUomValue" class="form-control" />
                        <span asp-validation-for="MassUomValue" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label asp-for="MassUomId" class="control-label"></label>
                        <select asp-for="MassUomId" class="form-control remote-select-uom" asp-items="Model.EmptyList">
                            @if (Model.MassUomId != Guid.Empty)
                            {
                                <option value="@Model.MassUomId" selected="selected">@Model.MassUomName</option>
                            }
                        </select>
                        <span asp-validation-for="MassUomId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label asp-for="ResourceUomId" class="control-label"></label>
                        <select asp-for="ResourceUomId" class="form-control remote-select-uom" asp-items="Model.EmptyList">
                            @if (Model.ResourceUomId != Guid.Empty)
                            {
                                <option value="@Model.ResourceUomId" selected="selected">@Model.ResourceUomName</option>
                            }
                        </select>
                        <span asp-validation-for="ResourceUomId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label asp-for="ResourceUomValue" class="control-label"></label>
                        <input asp-for="ResourceUomValue" class="form-control" />
                        <span asp-validation-for="ResourceUomValue" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label asp-for="ResourceBatchUomId" class="control-label"></label>
                        <select asp-for="ResourceBatchUomId" class="form-control remote-select-uom" asp-items="Model.EmptyList">
                            @if (Model.ResourceBatchUomId != Guid.Empty)
                            {
                                <option value="@Model.ResourceBatchUomId" selected="selected">@Model.ResourceBatchUomName</option>
                            }
                        </select>
                        <span asp-validation-for="ResourceBatchUomId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label asp-for="PackUomValue" class="control-label"></label>
                        <input asp-for="PackUomValue" class="form-control" />
                        <span asp-validation-for="PackUomValue" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label asp-for="PackUomId" class="control-label"></label>
                        <select asp-for="PackUomId" class="form-control remote-select-uom" asp-items="Model.EmptyList">
                            @if (Model.PackUomId != Guid.Empty)
                            {
                                <option value="@Model.PackUomId" selected="selected">@Model.PackUomName</option>
                            }
                        </select>
                        <span asp-validation-for="PackUomId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories"></select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="@($"{(isEdit?"Сохранить":"Создать")}")" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
