@model DigitalPurchasing.Core.Interfaces.PurchaseRequestDetailsResponse

@{
    ViewBag.Title = $"Заявка № {Model.PublicId} от {User.ToLocalTime(Model.CreatedOn):dd.MM.yyyy HH:mm}";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<h3>Подбор соответствия номенклатуры в заявке клиента номенклатуре предприятия</h3>

<div id="app">
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="4" class="form-inline">
            <div class="form-group">
                <label class="control-label">Номенклатура клиента</label>&nbsp;
                <input class="form-control" type="text" v-model="customerName" readonly="readonly"/>
            </div>
            <th colspan="5" class="form-inline">
                <div class="form-group">
                    <label class="control-label">Номенклатура предприятия</label>&nbsp;
                    <input class="form-control" type="text" value="@Model.CompanyName" readonly="readonly"/>
                </div>
            </th>
        </tr>
        <tr>
            <th style="width: 5%" class="text-center">№</th>
            <th style="width: 10%">Код</th>
            <th>Наименование</th>
            <th style="width: 10%">ЕИ</th>
            <th style="width: 10%" class="border-left">Код</th>
            <th>Наименование</th>
            <th style="width: 10%">ЕИ</th>
            <th style="width: 10%">Коэф.</th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="item in items">
                <td class="text-center">{{getRowIndex(item)}}</td>
                <td>{{item.rawCode}}</td>
                <td>{{item.rawName}}</td>
                <td>{{item.rawUom}}</td>
                <td v-if="isMatched(item)" class="border-left">{{item.nomenclatureCode}}</td>
                <td v-if="isMatched(item)">{{item.nomenclatureName}}</td>
                <td v-if="isMatched(item)">{{item.nomenclatureUom}}</td>
                <td v-if="isMatched(item)">{{item.nomenclatureFactor > 0 ? item.nomenclatureFactor : item.commonFactor}}</td>
                <td v-if="isMatched(item)">
                    <button type="button" class="btn btn-link" v-on:click="openMatch(item)">Изменить</button>
                </td>
                <td v-else class="border-left text-center" colspan="5">
                    <button type="button" class="btn btn-link" v-on:click="openMatch(item)">Сопоставить</button>
                    <button type="button" class="btn btn-link" v-on:click="openCreate(item)">Создать</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="container">
            <a class="btn btn-primary" v-show="isQuotationRequestAvailable" asp-controller="QuotationRequest" asp-action="Create" asp-route-prId="@Model.Id">Запросить предложение</a>
        </div>
    </div>
    <modal v-model="matchModal" title="Сопоставьте номенклатуру заявки с номенклатурой Вашего предприятия" size="lg">
        <table class="table table-striped" v-if="currentItem">
            <tbody>
            <tr>
                <td><b>Юр лицо</b></td>
                <td>{{customerName}}</td>
                <td>@Model.CompanyName</td>
            </tr>
            <tr>
                <td><b>Номенклатура</b></td>
                <td>{{currentItem.rawName}}</td>
                <td>
                    <div class="form-group" v-bind:class="nomenclatureClass">
                        <input id="nomenclature" type="text" class="form-control" v-model="nomenclatureAutocomplete"/>
                        <typeahead v-model="selectedNomenclature" target="#nomenclature" force-select async-src="@Url.Action("Autocomplete", "Nomenclature")?q=" async-key="items" item-key="name"></typeahead>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Единица измерения</b></td>
                <td>
                    <div class="form-group" v-bind:class="uomClass">
                        <input id="rawUom" type="text" class="form-control" v-model="uomAutocomplete"/>
                        <typeahead v-model="selectedUom" target="#rawUom" preselect="preselect" force-select async-src="@Url.Action("Autocomplete", "Uom")?q=" async-key="items" item-key="name"></typeahead>
                    </div>
                </td>
                <td>{{selectedNomenclatureUom}}</td>
            </tr>
            <tr>
                <td><b>Коэффициент</b></td>
                <td>1</td>
                <td>
                    <div class="form-inline">
                        <div class="radio">
                            <label>
                                <input type="radio" name="factor" value="c" v-model="factor">
                            </label>
                        </div>
                        <div class="form-group" v-bind:class="factorErrorClass">
                            <label class="control-label">Автоматический&nbsp;<i class="fas fa-info-circle" v-tooltip="'TODO'"></i></label>
                            <input type="text" class="form-control" v-model="currentItem.commonFactor" :disabled="!isFactorCEnabled"/>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="radio">
                            <label>
                                <input type="radio" name="factor" value="n" v-model="factor">
                            </label>
                        </div>
                        <div class="form-group" v-bind:class="factorErrorClass">
                            <label class="control-label">Переопределить&nbsp;<i class="fas fa-info-circle" v-tooltip="'TODO'"></i></label>
                            <input type="text" class="form-control" v-model="currentItem.nomenclatureFactor" :disabled="!isFactorNEnabled"/>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div slot="footer" class="text-center">
            <button v-on:click="prevMatch" v-bind:style="{ visibility: isPrevEnabled ? 'visible' : 'hidden' }" class="btn btn-default pull-left">Предыдущая позиция</button>
            <button v-on:click="closeMatch" class="btn btn-default">Отмена</button>
            <button v-on:click="saveMatch" class="btn btn-primary" :disabled="!isSaveEnabled">Подтвердить</button>
            <button v-on:click="nextMatch" v-bind:style="{ visibility: isNextEnabled ? 'visible' : 'hidden' }" class="btn btn-default pull-right">Следующая позиция</button>
        </div>
    </modal>
    <create-nomenclature-modal v-if="currentItem"
                               :item="currentItem"
                               :show-modal="createModal"
                               v-on:hide="closeCreate"
                               v-on:created="nomenclatureCreated">
    </create-nomenclature-modal>
</div>

@section Scripts {

    <script type="text/x-template" id="create-nomenclature-modal">
        <modal v-model="show"
               title="Создание новой номенклатуры"
               ok-text="Создать"
               cancel-text="Отмена"
               v-on:hide="onModalHide" :backdrop="backdrop">
            <div class="form-group" v-bind:class="{ 'has-error': nameHasError, 'has-success': !nameHasError }">
                <label>Название</label>
                <input id="nom-name" type="text" class="form-control" v-model.trim="nomName" />
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': uomHasError, 'has-success': !uomHasError }">
                <label>ЕИ</label>
                <input id="nom-uom" type="text" class="form-control" v-model="nomUomAutocomplete" />
                <typeahead v-model="nomUomSelected" target="#nom-uom" preselect="preselect" force-select async-src="@Url.Action("Autocomplete", "Uom")?q=" async-key="items" item-key="name"></typeahead>
            </div>
            <div slot="footer">
                <button type="button" class="btn btn-default" v-on:click="show=false"><span>Отмена</span></button>
                <button data-action="auto-focus" type="button" class="btn btn-primary" v-on:click="createNom" :disabled="anyError"><span>Создать</span></button>
            </div>
        </modal>
    </script>

    <script>
        (function() {
            function getInputClass(hasError) {
                return {
                    'has-error': hasError,
                    'has-success': !hasError
                };
            };

            Vue.component('create-nomenclature-modal', {
                template: '#create-nomenclature-modal',
                props: ['showModal', 'item'],
                data: function() {
                    return {
                        show: false,
                        backdrop: false,
                        nomName: null,
                        nomUomAutocomplete: null,
                        nomUomSelected: null
                    };
                },
                computed: {
                    nameHasError: function() {
                        return !this.nomName || this.nomName.length === 0;
                    },
                    uomHasError: function() {
                        return !this.nomUomSelected || !this.nomUomSelected.id;
                    },
                    anyError: function() {
                        return this.nameHasError || this.uomHasError;
                    }
                },
                watch: {
                    showModal: function(val) {
                        this.show = val;
                    },
                    item: function(val) {
                        this.nomName = val.rawName;
                        if (val.rawUomMatchId) {
                            this.loadUom(val.rawUomMatchId);
                        } else {
                            this.nomUomSelected = val.rawUom;
                            this.nomUomAutocomplete = val.rawUom;
                        }
                    }
                },
                methods: {
                    onModalHide: function() {
                        this.$emit('hide');
                    },
                    loadUom: function(id) {
                        var $this = this;
                        this.$http.get('@Url.Action("AutocompleteSingle", "Uom")' + '?id=' + id).then(function(res) {
                            var dataRes = res.body;
                            if (dataRes.isSuccess) {
                                $this.nomUomSelected = dataRes.data;
                                $this.nomUomAutocomplete = dataRes.data.name;
                            } else {
                                alert('error');
                            }
                        },
                        function(res) {
                            alert('error');
                        });
                    },
                    createNom: function() {
                        var vm = this;
                        var postData  = {
                            itemId: vm.item.id,
                            uomId: vm.nomUomSelected.id,
                            name: vm.nomName
                        }
                        this.$http.post('@Url.Action("CreateAndSaveMatchItem", "PurchaseRequest")', postData).then(function(res) {
                            var dataRes = res.body;
                            if (dataRes.isSuccess) {
                                vm.show = false;
                                var createdData = {
                                    itemId: postData.itemId,
                                    nomId: dataRes.nomenclatureId,
                                    nomName: postData.name,
                                    nomCode: '',
                                    uomId: vm.nomUomSelected.id,
                                    uomName: vm.nomUomSelected.name
                            };
                                vm.$emit('created', createdData);
                            } else {
                                alert(dataRes.message);
                            }
                        }, function(res) {
                            alert('error');
                        });
                    }
                }
            });

            var app = new Vue({
                el: '#app',
                data: function() {
                    return {
                        prId: '@Model.Id',
                        customerName: '',
                        customerId: null,
                        matchModal: false,
                        createModal: false,
                        currentItem: {},
                        selectedNomenclature: null,
                        selectedUom: null,
                        nomenclatureAutocomplete: '',
                        uomAutocomplete: '',
                        items: [],
                        preselect: false,
                        factor: 'c'
                    };
                },
                created: function() {
                    this.loadData();
                },
                watch: {
                    selectedNomenclature: function(val) {
                        if (val) {
                            this.nomenclatureAutocomplete = val.name;
                        }
                        this.loadFactor();
                    },
                    selectedUom: function(val) {
                        if (val) {
                            this.uomAutocomplete = val.name;
                        }
                        this.loadFactor();
                    }
                },
                computed: {
                    isPrevEnabled: function() {
                        if (!this.currentItem) return false;
                        return this.getRowIndex0(this.currentItem) > 0;
                    },
                    isNextEnabled: function() {
                        if (!this.currentItem) return false;
                        var length0 = this.items.length - 1;
                        return this.getRowIndex0(this.currentItem) < length0;
                    },
                    isSaveEnabled: function() {
                        return !this.nomenclatureHasError && !this.uomHasError && !this.factorHasError;
                    },
                    isFactorCEnabled: function() {
                        if (!this.selectedNomenclature || !this.selectedUom || this.factor === 'n') return false;
                        return true;
                    },
                    isFactorNEnabled: function() {
                        if (!this.selectedNomenclature || !this.selectedUom || this.factor === 'c') return false;
                        return true;
                    },
                    nomenclatureHasError: function() {
                        return !this.selectedNomenclature;
                    },
                    uomHasError: function() {
                        return !this.selectedUom || this.selectedUom === this.uomAutocomplete;
                    },
                    factorHasError: function() {
                        if (!this.currentItem) return false;
                        var common = this.currentItem.commonFactor;
                        var nomenclature = this.currentItem.nomenclatureFactor;
                        if (common <= 0 && nomenclature <= 0) return true;
                        return false;
                    },
                    selectedNomenclatureUom: function() {
                        if (this.selectedNomenclature) {
                            return this.selectedNomenclature.batchUomName;
                        }
                        return '';
                    },
                    nomenclatureClass: function() { return getInputClass(this.nomenclatureHasError); },
                    uomClass: function() { return getInputClass(this.uomHasError); },
                    factorErrorClass: function() { return getInputClass(this.factorHasError); },
                    isQuotationRequestAvailable: function() {
                        var $this = this;
                        if (this.items.length === 0) return false;
                        return _.every(this.items, function(i) { return $this.isMatched(i); });
                    }
                },
                methods: {
                    loadData: function() {
                        var $this = this;
                        this.$http.get('@Url.Action("MatchItemsData", new {id = Model.Id})').then(function(res) {
                            var dataRes = res.body;
                            $this.items = dataRes.items;
                            $this.currentItem = $this.items[0];
                            $this.customerName = dataRes.customerName;
                            $this.customerId = dataRes.customerId;
                        },
                        function(res) {

                        });
                    },
                    getRowIndex0: function(item) {
                        return this.items.indexOf(item);
                    },
                    getRowIndex0ById: function(itemId) {
                        return _.findIndex(this.items, function(item){ return item.id === itemId; });
                        //return this.getRowIndex0(item);
                    },
                    getRowIndex: function(item) {
                        return this.getRowIndex0(item) + 1;
                    },
                    isMatched: function(item) {
                        return item.nomenclatureId &&
                            item.rawUomMatchId &&
                            (item.nomenclatureFactor > 0 || item.commonFactor > 0);
                    },
                    openMatch: function(item) {
                        this.currentItem = item;
                        this.matchModal = true;
                        this.loadMatch();
                    },
                    closeMatch: function() {
                        this.matchModal = false;
                    },
                    openCreate: function(item) {
                        this.currentItem = item;
                        this.createModal = true;
                    },
                    closeCreate: function() {
                        this.createModal = false;
                    },
                    nomenclatureCreated: function(data) {
                        var vm = this;
                        var index = vm.getRowIndex0ById(data.itemId); 
                        
                        vm.items[index].nomenclatureId = data.nomId;
                        vm.items[index].nomenclatureName = data.nomName;
                        vm.items[index].nomenclatureCode = data.nomCode;
                        vm.items[index].commonFactor = 1;
                        vm.items[index].rawUomMatchId = data.uomId;
                        vm.items[index].nomenclatureUom = data.uomName;
                        //vm.items[index].nomenclatureUom = $this.selectedNomenclature.batchUomName;
                        //vm.items[index].rawUomMatchId = $this.selectedUom.id;

                    },
                    loadMatch: function() {
                        if (this.currentItem.nomenclatureId) {
                            this.loadNomenclature(this.currentItem.nomenclatureId);
                        } else {
                            //this.nomenclatureAutocomplete = '';
                            this.selectedNomenclature = null;
                        }
                        if (this.currentItem.rawUomMatchId) {
                            this.loadUom(this.currentItem.rawUomMatchId);
                        } else {
                            //this.uomAutocomplete = this.currentItem.rawUom;
                            this.selectedUom = null;
                        }
                    },
                    prevMatch: function() {
                        var index = this.getRowIndex0(this.currentItem);
                        this.currentItem = this.items[index - 1];
                        this.loadMatch();
                    },
                    nextMatch: function() {
                        var index = this.getRowIndex0(this.currentItem);
                        this.currentItem = this.items[index + 1];
                        this.loadMatch();
                    },
                    saveMatch: function() {
                        var $this = this;
                        var data = {
                            itemId: $this.currentItem.id,
                            nomenclatureId: $this.selectedNomenclature.id,
                            uomId: $this.selectedUom.id,
                            factorC: $this.factor === 'c' ? $this.currentItem.commonFactor : 0,
                            factorN: $this.factor === 'n' ? $this.currentItem.nomenclatureFactor : 0,
                            customerId: $this.customerId
                        };
                        this.$http.post('@Url.Action("SaveMatchItem")', data).then(function(res) {
                            var index = $this.getRowIndex0($this.currentItem);
                            $this.items[index].nomenclatureId = $this.selectedNomenclature.id;
                            $this.items[index].nomenclatureName = $this.selectedNomenclature.name;
                            $this.items[index].nomenclatureCode = $this.selectedNomenclature.code;
                            $this.items[index].nomenclatureUom = $this.selectedNomenclature.batchUomName;
                            $this.items[index].rawUomMatchId = $this.selectedUom.id;
                        },
                        function(res) {
                            alert('error');
                        });
                    },
                    loadNomenclature: function(id) {
                        var $this = this;
                        this.$http.get('@Url.Action("AutocompleteSingle", "Nomenclature")' + '?id=' + id).then( function(res) {
                            var dataRes = res.body;
                            if (dataRes.isSuccess) {
                                $this.selectedNomenclature = dataRes.data;
                                //$this.nomenclatureAutocomplete = dataRes.data.name;
                            } else {
                                alert('error');
                            }
                        },
                        function(res) {
                            alert('error');
                        });
                    },
                    loadUom: function(id) {
                        var $this = this;
                        this.$http.get('@Url.Action("AutocompleteSingle", "Uom")' + '?id=' + id).then(function(res) {
                            var dataRes = res.body;
                            if (dataRes.isSuccess) {
                                $this.selectedUom = dataRes.data;
                                //$this.uomAutocomplete = dataRes.data.name;
                            } else {
                                alert('error');
                            }
                        },
                        function(res) {
                            alert('error');
                        });
                    },
                    loadFactor: _.debounce(function(e) {
                        var $this = this;

                        if (!this.nomenclatureHasError && !this.uomHasError) {
                            var from = this.selectedUom.id;
                            var to = this.selectedNomenclature.batchUomId;
                            var nom = this.selectedNomenclature.id;
                            var customerId = $this.customerId;
                            this.$http.post('@Url.Action("Factor", "Uom")', { from, to, nom, customerId }).then(
                                function(res) {
                                    var dataRes = res.body;
                                    $this.currentItem.commonFactor = dataRes.commonFactor;
                                    $this.currentItem.nomenclatureFactor = dataRes.nomenclatureFactor;
                                    if (dataRes.nomenclatureFactor > 0) {
                                        $this.factor = 'n';
                                    } else {
                                        $this.factor = 'c';
                                    }
                                },
                                function(res) {
                                    alert('error');
                                });
                        } else {
                            $this.factor = 'c';
                        }
                    }, 300)
                }
            });
        })();
    </script>
}
