@using DigitalPurchasing.Core.Interfaces
@model DigitalPurchasing.Core.Interfaces.PurchaseRequestDetailsResponse

@{
    ViewBag.Title = $"Заявка № {Model.PublicId} от {Model.CreatedOn:dd.MM.yyyy HH:mm}";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div id="app">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" v-bind:class="customerNameClass">
                <label for="customer">Клиент</label>
                <input type="text" class="form-control" placeholder="" v-model="customerName" v-on:input="updateCustomerName">
                <span class="help-block" v-show="customerNameHasError">Укажите имя клиента</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">ФИО заявителя</label>
                <input type="text" class="form-control" id="name" placeholder="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="consignee">Грузополучатель</label>
                <input type="text" class="form-control" id="consignee" placeholder="">
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 5%" class="text-center">№</th>
                <th style="width: 20%">Код</th>
                <th>Наименование</th>
                <th style="width: 10%">Количество</th>
                <th style="width: 10%">ЕИ</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="r in rows">
                <td class="text-center">
                    <label>{{getRowIndex(r)}}</label>
                </td>
                <td><input type="text" class="form-control" v-model="r.rawCode" /></td>
                <td><input type="text" class="form-control" v-model="r.rawName" /></td>
                <td><input type="number" class="form-control" v-model="r.rawQty" /></td>
                <td><input type="text" class="form-control" v-model="r.rawUom" /></td>
                <td>
                    <button type="button" class="btn btn-default" v-on:click="removeRow(r)" v-if="getRowIndex(r)>1"><i class="far fa-minus-square"></i></button>
                    <button type="button" class="btn btn-default" v-on:click="addRow(r)"><i class="far fa-plus-square"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <button v-on:click="saveRawItems" class="btn btn-primary" v-bind:disabled="isSaveDisabled">Сохранить изменения</button>
    <div class="row">
        <div class="col-md-6">
            <address-form v-bind:pr="prId"></address-form>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="~/Views/Shared/Delivery/_AddressFormComponent.cshtml"/>
    <script>
        (function() {
            function getInputClass(hasError) {
                return {
                    'has-error': hasError,
                    'has-success': !hasError
                };
            };

            var app = new Vue({
                el: '#app',
                data: function() {
                    return {
                        prId: '@Model.Id',
                        customerName: '',
                        // { code: '123-321', name: 'Болт 123-321 XYZ', uom: 'шт.', qty: 100 }
                        rows: []
                    };
                },
                created: function () {
                    var $this = this;
                    this.$http.get('@Url.Action("RawItemsData", new { id = Model.Id })').then(response => {
                        var data = response.body;
                        $this.rows = data.items;
                        $this.customerName = data.customerName;
                    }, response => {
                        alert('error');
                    });
                },
                computed: {
                    customerNameHasError: function() {
                        if (!this.customerName) {
                            return true;
                        }
                        return false;
                    },
                    customerNameClass: function() {
                        return getInputClass(this.customerNameHasError);
                    },
                    isSaveDisabled: function() {
                        return this.customerNameHasError;
                    }
                },
                methods: {
                    getRowIndex0: function (item) {
                        return this.rows.indexOf(item);
                    },
                    getRowIndex: function(item) {
                        return this.getRowIndex0(item)+1;
                    },
                    addRow: function(item) {
                        var index = this.getRowIndex(item);
                        var newRow = { rawCode: '', rawName: '', rawUom: '', rawQty: 0 };
                        this.rows.splice(index, 0, newRow);
                    },
                    removeRow: function(item) {
                        var index = this.rows.indexOf(item);
                        this.rows.splice(index, 1);
                    },
                    saveRawItems: function() {
                        var $this = this;
                        var data = {
                            purchasingRequestId: '@Model.Id',
                            items: $this.rows
                        };
                        this.$http.post('@Url.Action("SaveRawItemsData")', data).then(response => {
                            var data = response.body;
                            window.location.reload(true); 
                            //$this.rows = data.items;
                        }, response => {
                            alert('error');
                        });
                    },
                    updateCustomerName: _.debounce(function (e) {
                        var data = { name: this.customerName, id: this.prId };
                        this.$http.post('@Url.Action("SaveCustomerName", "PurchaseRequest")', data).then(function(res) {
                        }, function(res) {
                            alert('error');
                        });
                    }, 300)
                }
            });
        })();
    </script>
}
