@model DigitalPurchasing.Core.Interfaces.PurchasingRequestDetailsResponse

@{
    ViewBag.Title = $"Заявка № {Model.PublicId} от {Model.CreatedOn:dd.MM.yyyy HH:mm}";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<h3>Подбор соответсвия номенклатуры в заявке клиента номенклатуре предприятия</h3>

<div id="app">
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="4" class="form-inline">
            <div class="form-group">
                <label class="control-label">Номенклатура клиента</label>&nbsp;
                <input class="form-control" type="text" v-model="customerName" v-on:input="updateCustomerName"/>
            </div>
            <th colspan="4" class="form-inline">
                <div class="form-group">
                    <label class="control-label">Номенклатура предприятия</label>&nbsp;
                    <input class="form-control" type="text" value="@Model.CompanyName" readonly="readonly" />
                </div>
            </th>
        </tr>
        <tr>
            <th style="width: 5%" class="text-center">№</th>
            <th style="width: 10%">Код</th>
            <th>Наименование</th>
            <th style="width: 10%">ЕИ</th>
            <th style="width: 10%" class="border-left">Код</th>
            <th>Наименование</th>
            <th style="width: 10%">ЕИ</th>
            <th style="width: 10%">Коэф.</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in items">
            <td class="text-center">{{getRowIndex(item)}}</td>
            <td>{{item.rawCode}}</td>
            <td>{{item.rawName}}</td>
            <td>{{item.rawUom}}</td>
            <td v-if="isMatched(item)" class="border-left">{{item.nomenclatureCode}}</td>
            <td v-if="isMatched(item)">{{item.nomenclatureName}}</td>
            <td v-if="isMatched(item)">{{item.nomenclatureUom}}</td>
            <td v-if="isMatched(item)">1</td>
            <td v-if="!isMatched(item)" class="border-left text-center" colspan="4">
                <button type="button" class="btn btn-link" v-on:click="openMatch(item)">Сопоставить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <modal v-model="matchModal" v-if="currentItem" title="Сопоставьте номенклатуру заявки с номенклатурой Вашего предприятия" size="lg">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><b>Юр лицо</b></td>
                    <td>{{customerName}}</td>
                    <td>@Model.CompanyName</td>
                </tr>
                <tr>
                    <td><b>Номенклатура</b></td>
                    <td>{{currentItem.rawName}}</td>
                    <td>
                        <div class="form-group" v-bind:class="nomenclatureClass">
                            <input id="nomenclature" type="text" class="form-control" v-model="nomenclatureAutocomplete"/>
                            <typeahead v-model="selectedNomenclature" target="#nomenclature" force-select async-src="@Url.Action("Autocomplete", "Nomenclature")?q=" async-key="items" item-key="name"></typeahead>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><b>Единица измерения</b></td>
                    <td>
                        <div class="form-group" v-bind:class="uomClass">
                            <input id="rawUom" type="text" class="form-control" v-model="uomAutocomplete"/>
                            <typeahead v-model="selectedUom" target="#rawUom" preselect="preselect" async-src="@Url.Action("Autocomplete", "Uom")?q=" async-key="items" item-key="name"></typeahead>
                        </div>
                    </td>
                    <td>{{selectedNomenclatureUom}}</td>
                </tr>
                <tr>
                    <td><b>Коэффициент</b></td>
                    <td>1</td>
                    <td><input type="text" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
        <div slot="footer" class="text-center">
            <button v-on:click="prevMatch" v-bind:style="{ visibility: isPrevEnabled ? 'visible' : 'hidden' }" class="btn btn-default pull-left">Предыдущая позиция</button>
            <button v-on:click="saveMatch" class="btn btn-primary" :disabled="!isSaveEnabled">Подтвердить</button>
            <button v-on:click="closeMatch" class="btn btn-default">Отменить</button>
            <button v-on:click="nextMatch" v-bind:style="{ visibility: isNextEnabled ? 'visible' : 'hidden' }" class="btn btn-default pull-right">Следующая позиция</button>
        </div>
    </modal>
</div>

@section Scripts {
    <script>
        (function() {
            var app = new Vue({
                el: '#app',
                data: function() {
                    return {
                        prId: '@Model.Id',
                        customerName: '@Model.CustomerName',
                        matchModal: false,
                        currentItem: null,
                        selectedNomenclature: null,
                        selectedUom: null,
                        nomenclatureAutocomplete: '',
                        uomAutocomplete: '',
                        items: [],
                        preselect: false
                    };
                },
                created: function() {
                    var $this = this;
                    this.$http.get('@Url.Action("MatchItemsData", new { id = Model.Id })').then(function(res) {
                        var dataRes = res.body;
                        $this.items = dataRes.items;
                    }, function(res) {

                    });
                },
                watch: { },
                computed: {
                    isPrevEnabled: function() {
                        if (!this.currentItem) return false;
                        return this.getRowIndex0(this.currentItem) > 0;
                    },
                    isNextEnabled: function() {
                        if (!this.currentItem) return false;
                        var length0 = this.items.length-1;
                        return this.getRowIndex0(this.currentItem) < length0;
                    },
                    isSaveEnabled: function() {
                        return !this.nomenclatureHasError && !this.uomHasError;
                    },
                    nomenclatureHasError: function() {
                        return !this.selectedNomenclature/* || this.selectedNomenclature === this.nomenclatureAutocomplete*/;
                    },
                    uomHasError: function() {
                        return !this.selectedUom || this.selectedUom === this.uomAutocomplete;
                    },
                    selectedNomenclatureUom: function() {
                        if (this.selectedNomenclature) {
                            return this.selectedNomenclature.batchUomName;
                        }
                        return '';
                    },
                    nomenclatureClass: function() {
                        var hasError = this.nomenclatureHasError;
                        return {
                            'has-error': hasError,
                            'has-success': !hasError
                        };
                    },
                    uomClass: function() {
                        var hasError = this.uomHasError;
                        return {
                            'has-error': hasError,
                            'has-success': !hasError
                        };
                    }
                },
                methods: {
                    getRowIndex0: function (item) {
                        return this.items.indexOf(item);
                    },
                    getRowIndex: function (item) {
                        return this.getRowIndex0(item) + 1;
                    },
                    isMatched: function(item) {
                        return item.nomenclatureId && item.rawUomMatchId;
                    },
                    openMatch: function (item) {
                        this.currentItem = item;
                        this.matchModal = true;
                        this.loadMatch();
                    },
                    closeMatch: function () {
                        this.currentItem = null;
                        this.matchModal = false;
                    },
                    loadMatch: function() {
                        if (this.currentItem.nomenclatureId) {
                            this.loadNomenclature(this.currentItem.nomenclatureId);
                        } else {
                            this.nomenclatureAutocomplete = '';
                            this.selectedNomenclature = null;
                        }
                        if (this.currentItem.rawUomMatchId) {
                            this.loadUom(this.currentItem.rawUomMatchId);
                        } else {
                            this.uomAutocomplete = this.currentItem.rawUom;
                            this.selectedUom = null;
                        }
                    },
                    prevMatch: function () {
                        var index = this.getRowIndex0(this.currentItem);
                        this.currentItem = null;
                        this.currentItem = this.items[index-1];
                        this.loadMatch();
                    },
                    nextMatch: function () {
                        var index = this.getRowIndex0(this.currentItem);
                        this.currentItem = null;
                        this.currentItem = this.items[index+1];
                        this.loadMatch();
                    },
                    saveMatch: function () {
                        var $this = this;
                        var data = {
                            itemId: $this.currentItem.id,
                            nomenclatureId: $this.selectedNomenclature.id,
                            uomId: $this.selectedUom.id
                        };
                        this.$http.post('@Url.Action("SaveMatchItem")', data).then(function(res) {
                            var index = $this.getRowIndex0($this.currentItem);
                            $this.items[index].nomenclatureId = $this.selectedNomenclature.id;
                            $this.items[index].nomenclatureName = $this.selectedNomenclature.name;
                            $this.items[index].nomenclatureCode = $this.selectedNomenclature.code;
                            $this.items[index].nomenclatureUom = $this.selectedNomenclature.batchUomName;
                            $this.items[index].rawUomMatchId = $this.selectedUom.id;
                        }, function(res) {
                            alert('error');
                        });
                    },
                    loadNomenclature: function(id) {
                        var $this = this;
                        this.$http.get('@Url.Action("AutocompleteSingle", "Nomenclature")' + '?id=' + id).then(function(res) {
                            var dataRes = res.body;
                            if (dataRes.isSuccess) {
                                $this.selectedNomenclature = dataRes.data;
                                $this.nomenclatureAutocomplete = dataRes.data.name;
                            } else {
                                alert('error');
                            }
                        }, function(res) {
                            alert('error');
                        });
                    },
                    loadUom: function(id) {
                        var $this = this;
                        this.$http.get('@Url.Action("AutocompleteSingle", "Uom")' + '?id=' + id).then(function(res) {
                            var dataRes = res.body;
                            if (dataRes.isSuccess) {
                                $this.selectedUom = dataRes.data;
                                $this.uomAutocomplete = dataRes.data.name;
                            } else {
                                alert('error');
                            }
                        }, function(res) {
                            alert('error');
                        });
                    },
                    updateCustomerName: _.debounce(function (e) {
                        var data = { name: e.target.value, id: this.prId };
                        this.$http.post('@Url.Action("SaveCustomerName", "PurchasingRequest")', data).then(function(res) {
                        }, function(res) {
                            alert('error');
                        });
                    }, 300)
                }
            });
        })();
    </script>
}
