@using DigitalPurchasing.Core
@model IEnumerable<DigitalPurchasing.Core.Interfaces.AdminCompanyDto>
@{
    ViewData["Title"] = "Организации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Название</th>
        <th>Сотрудники</th>
        <th title="Заявка / Запрос / КЛ">Заявки</th>
        <th>Владелец</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var company in Model.OrderByDescending(q => q.CreatedOn))
    {
        <tr>
            <td><span title="@company.Id">@company.CreatedOn.ToString("yyyy.MM.dd HH:mm")</span></td>
            <td>@company.Name</td>
            <td>@company.UsersCount</td>
            <td>@company.PRCount / @company.QRCount / @company.CLCount</td>
            <td>@company.Owner?.ToString()</td>
        </tr>
    }
    </tbody>
</table>

