@using DigitalPurchasing.Core
@model DigitalPurchasing.Core.Interfaces.CompetitionListVm

@{
    ViewBag.Title = $"Конкурентный лист № {Model.PublicId} от {Model.CreatedOn:dd.MM.yyyy HH:mm}";
    Layout = "_Layout";
}

<h2 class="with-button">@ViewBag.Title</h2>
<div class="btn-group">
    <form class="form-button" method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="CompetitionList" asp-route-id="@Model.Id">
        <label class="btn btn-default btn-file">
            Загрузить предложение <input type="file" style="display: none;" name="file">
        </label>
    </form>
    <a class="btn btn-default" href="@Url.Action("Index", "Analysis", new { clId = Model.Id })">Варианты выбора</a>
    <a class="btn btn-default" href="@Url.Action("Details", "Analysis", new { clId = Model.Id })">Детальный анализ</a>
</div>
<div class="long-table-wrap" id="app">
    <div class="long-table">
        <div class="long-table-item">
            <div>
                <p>
                    <b>Клиент: @Model.PurchaseRequest.CustomerName</b>&nbsp;
                    <a asp-action="Edit" asp-controller="PurchaseRequest" asp-route-id="@Model.PurchaseRequest.Id">@($"Заявка № {Model.PurchaseRequest.PublicId} от {Model.PurchaseRequest.CreatedOn:dd.MM.yyyy HH:mm}")</a>
                </p>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>№</td>
                    <td>Код</td>
                    <td>Наименование</td>
                    <td>ЕИ</td>
                    <td>Кол-во для<br/>заказа, ЕИ</td>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@Model.PurchaseRequest.Items.Sum(q => q.RawQty).ToString(Consts.Format.Qty)</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <p>&nbsp;</p>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                @foreach (var item in Model.PurchaseRequest.Items)
                {
                    <tr>
                        <td>@item.Position</td>
                        <td>@item.RawCode</td>
                        <td>@item.RawName</td>
                        <td>@item.RawUom</td>
                        <td>@item.RawQty.ToString(Consts.Format.Qty)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        @foreach (var so in Model.SupplierOffers)
        {
            var soTitle = $"КП № {so.PublicId} от {so.CreatedOn:dd.MM.yyyy HH:mm}";
            <div class="long-table-item">
                <div>
                    <p>
                        <b>Поставщик: @(so.SupplierName ?? "Не указан")</b>&nbsp;
                        <a asp-action="Edit" asp-controller="SupplierOffer" asp-route-id="@so.Id">@soTitle</a>
                    </p>
                </div>
                <table class="table table-striped with-left-border">
                    <thead>
                    <tr>
                        <td>Код</td>
                        <td>Наименование</td>
                        <td>ЕИ</td>
                        <td>Кол-во,<br/>ЕИ</td>
                        <td>Цена за ЕИ,<br />валюта</td>
                        <td>Валюта</td>
                        <td>Стоимость,<br/>валюта</td>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@so.Items.Where(q => q != null).Sum(q => q.RawQty).ToString(Consts.Format.Qty)</td>
                        <td></td>
                        <td></td>
                        <td>@so.Items.Where(q => q != null).Sum(q => q.TotalPrice).ToString(Consts.Format.Money2)</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <so-terms :so="'@so.Id'"></so-terms>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var item in so.Items)
                    {
                        if (item != null)
                        {
                            <tr>
                                <td>@item.RawCode</td>
                                <td>@item.RawName</td>
                                <td>@item.RawUom</td>
                                <td>@item.RawQty.ToString(Consts.Format.Qty)</td>
                                <td>@item.RawPrice.ToString(Consts.Format.Money2)</td>
                                <td>@so.Currency.Name</td>
                                <td>@item.TotalPrice.ToString(Consts.Format.Money2)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" style="text-align: center;">Не сопоставлено</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <partial name="~/Views/CompetitionList/_EditSOTermsComponent.cshtml"/>
    <script>
        (function() {
            var vue = new Vue({
                el: '#app'
            });
        })();
    </script>
}
