@using DigitalPurchasing.Core.Extensions
@model DigitalPurchasing.Web.ViewModels.Supplier.SupplierEditVm

@{
    ViewData["Title"] = Model.Supplier.Name + " - Поставщики";
}

<h2 class="with-button">@ViewData["Title"]</h2>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Supplier.Id" />
    <partial name="_FormFields" model="Model" />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Сохранить" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </div>
</form>

<hr />

@if (Model.NomenclatureCategoies.Any())
{
    <form asp-action="SaveSupplierCategories" asp-route-supplierId="@Model.Supplier.Id">

        <h3>Категории закупок</h3>
        <table class="table table-striped">
            <tr>
                <th>Категория</th>
                <th style="width: 250px">Контакт 1</th>
                <th style="width: 250px">Контакт 2</th>
            </tr>
            @for (int i = 0; i < Model.NomenclatureCategoies.Count; i++)
            {
                var nc = Model.NomenclatureCategoies[i];
                <tr>
                    <td>
                        @nc.NomenclatureCategoryFullName
                        <input type="hidden" asp-for="NomenclatureCategoies[i].NomenclatureCategoryId" />
                    </td>
                    <td>
                        <select asp-for="NomenclatureCategoies[i].NomenclatureCategoryPrimaryContactId"
                                asp-items="Model.ContactPersons.OrderBy(cp => cp.FullName).Select(cp => new SelectListItem() { Value = cp.Id.ToString(), Text = cp.FullName, Selected = cp.Id == nc.NomenclatureCategoryPrimaryContactId })"
                                class="form-control">
                            <option value="">-- Не выбран --</option>
                        </select>
                    </td>
                    <td>
                        <select asp-for="NomenclatureCategoies[i].NomenclatureCategorySecondaryContactId"
                                asp-items="Model.ContactPersons.OrderBy(cp => cp.FullName).Select(cp => new SelectListItem() { Value = cp.Id.ToString(), Text = cp.FullName, Selected = cp.Id == nc.NomenclatureCategorySecondaryContactId })"
                                class="form-control">
                            <option value="">-- Не выбран --</option>
                        </select>
                    </td>
                </tr>
            }
        </table>
        <input type="submit" class="btn btn-primary" value="Сохранить" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>

    <hr />
}

<div>
    <h3 class="with-button">Контакты сотрудников</h3>
    <div class="btn-group">
        <a class="btn btn-default" asp-action="AddContactPerson" asp-route-supplierId="@Model.Supplier.Id">Добавить</a>
    </div>
    @if (Model.ContactPersons.Any())
    {
        <div class="row" id="table-persons">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Должность</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>E-mail</th>
                            <th>Моб. телефон</th>
                            <th>Использовать для<br />отправки запросов и<br />получения КП?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model.ContactPersons)
                        {
                            <tr data-fullname="@person.FullName" data-id="@person.Id">
                                <td>@person.JobTitle</td>
                                <td>@person.LastName</td>
                                <td>@person.FirstName</td>
                                <td>@person.Patronymic</td>
                                <td>@person.Email</td>
                                <td>@person.PhoneNumber.FormatPhoneNumber()</td>
                                <td>@(person.UseForRequests ? "Да" : "Нет")</td>
                                <td>
                                    <a asp-action="EditContactPerson" asp-route-personId="@person.Id"><i class="far fa-edit"></i></a>
                                    <button type="button" class="btn btn-link" data-delete-person><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-delete-person">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Удаление контакта</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить контакт "<b><span data-fullname></span></b>"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" data-delete-id>Удалить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        (function() {
            $(document).ready(function() {
                var $tablePersons = $('#table-persons');
                var $modalDelete = $('#modal-delete-person');
                $tablePersons.find('button[data-delete-person]').click(function() {
                    var $this = $(this);
                    var $tr = $this.parents('tr');
                    var data = $tr.data();
                    $modalDelete.find('[data-fullname]').text(data.fullname);
                    $modalDelete.find('[data-delete-id]').attr('data-delete-id', data.id);
                    $modalDelete.modal('show');
                });
                $modalDelete.on('click', 'button[data-delete-id]', function() {
                    var id = $(this).attr('data-delete-id');
                    axios.post('@Url.Action("DeleteContactPerson")', { id: id }).then(function (res) {
                        $tablePersons.find('tbody tr[data-id="' + id + '"]').remove();
                        if ($tablePersons.find('tbody tr').length === 0) {
                            $tablePersons.remove();
                        }
                        $modalDelete.modal('hide');
                    })
                    .catch(function (error) {
                        alert('Ошибка');
                    });
                });
            });
        })();
    </script>


    <script>
        (function () {
            $(document).ready(function () {
                $('[data-phone]').inputmask("(999) 999 99 99");  //static mask
            });
        })();
    </script>
}

